/* reusable classes */
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Host Grotesk", sans-serif;
}

.container {
  width: min(100% - 20px, 1500px);
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #e8ba2e;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #e8ba2e;
  font-size: 13px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-primary:hover {
  background-color: #e8ba2e84;
  border: 1px solid #e8ba2e;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo img {
  width: 150px;
  height: 45px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  cursor: pointer;
}
.nav ul li {
  color: #575757;
  transition: ease-in 0.2s;
}
.nav ul li:hover {
  color: #e8ba2e;
}

/* Footer */
.footer {
  background-color: #0d1b2a;
  padding: 40px 0;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.social-icons {
  color: white;
  font-size: 20px;
  transition: ease-in 0.2s;
}

.social-icons:hover {
  color: #e8ba2e;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-left img {
  width: 150px;
}

.footer-right p {
  color: #888888;
}
.footer-right a {
  text-decoration: none;
  color: #888888;
  padding-right: 15px;
}
